/* frontend/src/components/Layout/Layout.module.css */
.layout {
    display: grid;
    grid-template-columns: 240px 1fr; /* Largura da sidebar e o resto */
    grid-template-rows: 64px 1fr; /* Altura do header e o resto */
    grid-template-areas:
      "header header"
      "sidebar main";
    height: 100vh;
    width: 100vw;
  }
  
  .mainContent {
    grid-area: main;
    padding: 2rem;
    overflow-y: auto; /* Permite scroll se o conteúdo for grande */
    background-color: var(--color-background);
  }